@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    min-height: 100svh;
    margin: 0;
}

:root {
  /* FONTS */
  --primary-font: "Work Sans", sans-serif;

  /* BRANDING COLORS */
  --color-1: #F9FAFF;
  --color-2: #e2e2e28f;
  --color-3: #4A4A4A;
  --color-4: #003F62;
  --color-5: #f7b64e;

  /* BACKGROUND-COLORS */
  --primary-bg: var(--color-1);

  /* TEXT-COLORS */
  --primary-text: var(--color-3);
  --secondary-text: var(--color-4);
  --tercery-text: var(--color-5);

  /* BORDER-COLORS */
  --primary-border: 1px solid var(--color-2);

  /* BORDER RADIUS */
  --br: 8px;

  /* SPACINGS */
  --margin-a2: 20px;
  --margin-a: 30px;
  --margin-b: 40px;
  --margin-c: 50px;
  --margin-d: 100px

  --padding-a2: 10px;
  --padding-a3: 20px;
  --padding-a: 30px;
  --padding-b: 40px;
  --padding-c: 50px;

  --gap-a2: 10px;
  --gap-a: 20px;
  --gap-b: 30px;
  --gap-c: 40px;
  --gap-d: 50px;
}
/* header-Nav*/

header {
  height: 10svh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
 #logoNike {
  width: 60px;
}

header > nav ul {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-a);
}
#nav {
  overflow: hidden;
  height: 20px;
  max-width: 600px;
      } 

header > div {
  display: flex;
  gap: var(--gap-a);
  align-items: center;
}
header img {
  width: 20px;
}

header > div > div {
  width: 180px;
  border-radius: 40px;
  background-color: var(--color-2);
  padding: 10px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  
}

header > div > img {
  height: 20px;
  width: 20px;
}

/*Caja de Busqueda*/
#lupa{
  width: 125px;
  border: none;
  margin-left: 10px;
  background: url("") no-repeat left;

}
#user{
  display: none;
}
#menu{
  display: none;
}
/*Body*/
#womanFilter{
display: flex;
justify-content:flex-start ;
align-items: center;
padding-left: 50px;
padding-bottom: 10px;
}
  /* main */

 
/*main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }*/
  
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .filtros {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    gap:20px;
  }

  /**/

  .cardProducts {
    display: flex;
    max-width: 1000px;
    margin: auto;
    justify-content:space-around;
    align-items: flex-start;
    gap: var(--gap-a2);
    flex-wrap: wrap;
    border-radius: 10%;
    padding-bottom: var(--padding-a);
}
.imgContainer:hover {
  transform: scale(110%);
  cursor: pointer;
  transition: 1s;
} 

#products {
    margin-bottom: var(--margin-d);
    gap: var(--gap-b);
    padding: 0px var(--padding-b);
}

#products > div {
    position: relative;
    flex-direction: column;
    width: 250px;
}

.imgContainer {
    margin-top: var(--margin-b);
    margin-bottom: var(--margin-a);
    width: 100%;
    height: 200px;
    border-radius: var(--br);
    background-color: var(#f5f5f5);
}

.imgContainer > img {
    width: 100%;
    height: 110%;
    object-fit: cover;
}

#filtros {
    padding: var(--padding-a2);
}
.filtroPrecio {
  height: 30px;
}

.specialType{
margin-top: 70px;
color :var(--color-5);
font-size: 18.72px;
font-weight: 500;
}

.colores {
    position:relative;
    right: 25px;
    top: 295px;
    left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-a);
  }

.colores > div {
    width: 15px;
    height: 15px;
    box-shadow: 1px 2px 10px var(--color-3);
    border-radius: 50%;
   /* border: 2px solid var(--color-2);*/
}
 
button {
  background-color: var(--color-2);
  color: var(--color-3);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: var(--color-5);
}


.clear-filters {
  background-color: var(--color-5);
  color: var(--color-1);
}

.clear-filters:hover {
  background-color: var(--color-5);
}

/* FOOTER*/

footer {
  background-color: var(--color-3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  bottom: 0;
}
.nav-footer {
  display: grid;
  color: var(--color-1);
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  width: 80%;
  margin-left: var(--margin-b);
  margin-top: var(--margin-a2);
}
.columnaUno > li > a {
  color: var(--color-1);
  font-size: 16px bold ;
  font-weight: 600;
  max-height: max-content;
}

.nav-footer > ul {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2.333333333333333;
}

.nav-footer > ul > li {
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
  align-items: center;
}

.columnaDos > li > a {
  color: var(--color-2);
  font-size: 12px;
  font-weight: 400;
  
}

.columnaDos > li > a :hover {
  color: var(--color-1);
}
aside {
  padding: var(--padding-a);
  margin-left: var(--margin-a2);
}
/**/

@media (max-width: 770px) {
  #nav {
  display: none;
  }
  #user {
    display:block;
    height: 28px;
    width: 28px;
  }
  #menu {
    display:block;
  }
  header > div > div {
  display: none;
  }
  header > div > img {
    height: 20px;
    width: 20px;
  }
  .filtros {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  #boxFiltros {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  label {
    font-size: 14px;
  }
  aside {
    padding: var(--padding-a3);
    margin-left: var(--margin-a2);
  }
}
@media (max-width: 500px) {
  .nav-footer {
    display: flex;
    flex-direction: column;
  }
  .nav-footer > ul {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0px;
  }
  .nav-footer > ul > li {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  
  .columnaUno > li > a {
    color: var(--color-1);
    font-size: 10px bold ;
    font-weight: 500;
    max-height: max-content;
  }
  .columnaDos > li > a {
    display: none;
  }
}

@media (max-width: 370px) {

  .filtros {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
